[submodule "moduleProject"]
	path = moduleProject
	url = https://github.com/Jpliu2/moduleProject.git
[submodule "projectDemo1"]
	path = projectDemo1
	url = https://github.com/Jpliu2/moduleProject.git
